target

# Jenkins home directory when running "mvn hpi:run".
/work

# IntelliJ IDEA project files
*.iml
*.iws
*.ipr
.idea

# Eclipse project files
.settings
.classpath
.project

# Maven surefire statistics file for determining test run order
.surefire-*

### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*